.footer-group__item { 
  display: flex;
  flex-direction: column;
  margin-right: 15px; // adjust this to decrease the space between groups

  &:last-child {
    margin-right: 0; 
  }

  .title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .footer-item {
    margin-bottom: 5px;
  }

  @media screen and (max-width: 768px) {
    margin-right: 0;
    margin-bottom: 20px; 
  }
}